## Preliminary analysis

In [12]:
import pandas as pd

url_data = "../datasets/titanic/titanic3.csv"

df = pd.read_csv(url_data)

# First rows
print(df.head())

# Tail rows
print(df.tail())

# Shape dimesions

print(df.shape)

# Statistics

print(df.describe())

# Column names

print(df.columns.values)

   pclass  survived                                             name     sex  \
0       1         1                    Allen, Miss. Elisabeth Walton  female
1       1         1                   Allison, Master. Hudson Trevor    male
2       1         0                     Allison, Miss. Helen Loraine  female
3       1         0             Allison, Mr. Hudson Joshua Creighton    male
4       1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)  female

       age  sibsp  parch  ticket      fare    cabin embarked boat   body  \
0  29.0000      0      0   24160  211.3375       B5        S    2    NaN
1   0.9167      1      2  113781  151.5500  C22 C26        S   11    NaN
2   2.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN
3  30.0000      1      2  113781  151.5500  C22 C26        S  NaN  135.0
4  25.0000      1      2  113781  151.5500  C22 C26        S  NaN    NaN

                         home.dest
0                     St Louis, MO
1  Montreal, PQ / Chesterville, ON
2  Montreal, PQ / Chesterville, ON
3  Montreal, PQ / Chesterville, ON
4  Montreal, PQ / Chesterville, ON
      pclass  survived                       name     sex   age  sibsp  parch  \
1304       3         0       Zabour, Miss. Hileni  female  14.5      1      0
1305       3         0      Zabour, Miss. Thamine  female   NaN      1      0
1306       3         0  Zakarian, Mr. Mapriededer    male  26.5      0      0
1307       3         0        Zakarian, Mr. Ortin    male  27.0      0      0
1308       3         0         Zimmerman, Mr. Leo    male  29.0      0      0

      ticket     fare cabin embarked boat   body home.dest
1304    2665  14.4542   NaN        C  NaN  328.0       NaN
1305    2665  14.4542   NaN        C  NaN    NaN       NaN
1306    2656   7.2250   NaN        C  NaN  304.0       NaN
1307    2670   7.2250   NaN        C  NaN    NaN       NaN
1308  315082   7.8750   NaN        S  NaN    NaN       NaN
(1309, 14)
            pclass     survived          age        sibsp        parch  \
count  1309.000000  1309.000000  1046.000000  1309.000000  1309.000000
mean      2.294882     0.381971    29.881135     0.498854     0.385027
std       0.837836     0.486055    14.413500     1.041658     0.865560
min       1.000000     0.000000     0.166700     0.000000     0.000000
25%       2.000000     0.000000    21.000000     0.000000     0.000000
50%       3.000000     0.000000    28.000000     0.000000     0.000000
75%       3.000000     1.000000    39.000000     1.000000     0.000000
max       3.000000     1.000000    80.000000     8.000000     9.000000

              fare        body
count  1308.000000  121.000000
mean     33.295479  160.809917
std      51.758668   97.696922
min       0.000000    1.000000
25%       7.895800   72.000000
50%      14.454200  155.000000
75%      31.275000  256.000000
max     512.329200  328.000000
['pclass' 'survived' 'name' 'sex' 'age' 'sibsp' 'parch' 'ticket' 'fare'
 'cabin' 'embarked' 'boat' 'body' 'home.dest']

#### Functions to see null values on columns

In [13]:
pd.isnull(df["body"]).values.sum()

1188

In [14]:
pd.notnull(df["body"]).values.sum()

121

### Reasons about missing data
    *Extraction of data
    *Collection of data
   
### Methods to solve this situation

In [15]:
# 1. Drop rows in which all columns are NaN
df.dropna(axis=0, how="all")

# 2. Drop rows in which at least one column is NaN
df.dropna(axis=0, how="any")

# 3. Drop columns in which all values are NaN
df.dropna(axis=1, how="all")

# 4. Drop columns in which any values are NaN
df.dropna(axis=1, how="any")

# 5. Replace NaN of DF for a new value
df.fillna(0)

#6. Replace Series/column of DF for a new value
df["body"].fillna(0)

#7. Set NaN values as mean of values
df["age"].fillna(df["age"].mean())

#8. Set NaN values with forward fill method. That is, the previous value known is set
df["age"].fillna(method="ffill")

#9. Set NaN values with back fill method.
a = df["age"].fillna(method="bfill")

28.5