#  Load data through read_csv

In [36]:
import os
import pandas as pd
import numpy as np

base_path = "/Users/ismael/repositorios/python-ml-course/datasets/"
titanic_path = "titanic/titanic3.csv"

ds_path = os.path.join(base_path, titanic_path)
data = pd.read_csv(ds_path)
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

# Set column names from another text file

In [51]:
c_m_path = os.path.join(base_path, "customer-churn-model/Customer Churn Model.csv")
c_m_colums_path = os.path.join(base_path, "customer-churn-model/Customer Churn Columns.csv")

c_m_columns = pd.read_csv(c_m_colums_path).iloc[:,0].tolist()
c_m_ds = pd.read_csv(c_m_path, names=c_m_columns)
c_m_ds.columns.values

array(["State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?"],
      dtype=object)

# load dataset using open function

In [50]:
c_m_txt_path = os.path.join(base_path, "customer-churn-model/Customer Churn Model.txt")
with open(c_m_path, "r") as f:
    columns = f.readline().strip().split(",")
    main_dict = {column: list() for column in columns}
    for line in f:
        f_line = line.strip().split(",")
        [main_dict[columns[col_idx]].append(f_line[col_idx]) for col_idx in range(len(columns))]
    pd_df = pd.DataFrame(main_dict)
pd_df.head()
pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
"State            3333 non-null object
Account Length    3333 non-null object
Area Code         3333 non-null object
Churn?"           3333 non-null object
CustServ Calls    3333 non-null object
Day Calls         3333 non-null object
Day Charge        3333 non-null object
Day Mins          3333 non-null object
Eve Calls         3333 non-null object
Eve Charge        3333 non-null object
Eve Mins          3333 non-null object
Int'l Plan        3333 non-null object
Intl Calls        3333 non-null object
Intl Charge       3333 non-null object
Intl Mins         3333 non-null object
Night Calls       3333 non-null object
Night Charge      3333 non-null object
Night Mins        3333 non-null object
Phone             3333 non-null object
VMail Message     3333 non-null object
VMail Plan        3333 non-null object
dtypes: object(21)
memory usage: 546.9+ KB