## Group data

In [3]:
import numpy as np
import pandas as pd

# Generating a dummy dataset

n = 10000

age_v = 35 + 15 * np.random.randn(n)

economic_status_v = np.random.choice(["Rich", "Middle Class", "Poor"], n)
gender_v = np.random.choice(["Male", "Female"], n)
height = 165 + 30 * np.random.randn(n)
weight = 80 + 25 * np.random.randn(n)
income = 22000 + 6000 * np.random.randn(n)

df_dummy = pd.DataFrame({
    "Age": age_v,
    "Economic Status": economic_status_v,
    "Gender": gender_v,
    "Height": height,
    "Weight": weight,
    "Income": income
})

df_dummy.head(10)

         Age Economic Status  Gender      Height      Weight        Income
0  28.890037    Middle Class  Female  139.205012  114.440127  26970.980662
1  18.665972            Rich    Male  128.421815   40.181845  14464.589582
2  65.819835            Rich    Male  119.405606  122.418221  21086.788853
3  53.158021            Rich    Male  139.699160   99.891414  13347.856665
4  27.868380            Rich    Male  170.171927   58.108509  23581.343960
5  41.702940    Middle Class  Female  185.459107   88.475750  13175.966640
6  64.664543            Rich    Male  124.849414   66.700704  27157.901754
7  26.180273            Rich    Male  189.302601  145.121901  19873.658315
8  30.251452            Rich    Male  155.272995   68.372820  21239.772923
9  67.804781            Poor    Male  115.774880   97.977034  15956.343903